<nav id="nav-list">
  <ul class="nav-ul">
    <li class="nav-li"><a href="/">Home</a></li>
    <li class="nav-li"><a href="beers">Beers</a></li>
    <li class="nav-li"><a href="/random-beer">Random Beer</a></li>
  </ul>
</nav>