<div id="main-body">
  <img class="beer-mug" src="/images/beer.png" />
  <a href="/beers"><button type="button" class="beer-buttons">Check the Beers!</button></a>
  <a href="/random-beer"><button type="button" class="beer-buttons">Check a Random Beer</button> </a>
</div>
