<% beer.forEach((beer) => { %>
<div class="random-beer">
  <%- include('./partials/beer.ejs', {beer : beer}) %>
  
  <div class="additionnal-info">
    <p class="additionnal-info-title">Food Pairing:</p>
      <ul>
        <% beer.food_pairing.forEach((food)=>{%>
          <li class="food"><%- food %></li>
        <% }) %>
      </ul>
    <p> <span class="additionnal-info-title">Brewers Tips: </span><%- beer.brewers_tips %></p>
  </div>

</div>
<% }) %>